[report]
    omit =
        */.pytest_cache
        */.vscode
        */__pycache__/
        *ctypes.py                      
        *ctypes/*                               
        *decimal.py                      
        *encodings/*             
        *hmac.py                         
        *html.py                         
        *html/*               
        *http/*            
        *mimetypes.py                   
        *numbers.py                     
        *stringprep.py                  
        *uuid.py
        *env/*